.chat-main-section {
  background-color: rgba(51, 48, 48, 0.692);
  padding: 80px;
}

.chatContainer {
  max-width: 1210px;
  height: 560px;
  margin: 0px auto;
  background-color: rgb(50, 53, 48);
  overflow-y: auto;
}
.one {
  display: flex;
  justify-content: flex-end;
  text-transform: lowercase;
}
.two {
  display: flex;
  text-transform: lowercase;
}

.message1 {
  min-width: 200px;
  min-height: 60px;
  background-color: rgb(255, 253, 251);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 30px 20px 20px;
  padding: 10px;
  position: relative;
  text-transform: capitalize;
}
.message2 {
  position: relative;
  padding: 10px;
  margin: 20px 20px 20px 30px;
  width: 200px;
  height: 60px;
  background-color: rgb(58, 173, 68);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-transform: lowercase;
}

.chat-btn {
  position: absolute;
  top: -30px;
  right: 0;
}

.email-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  text-transform: lowercase;
}
.chat-email {
  font-size: 10px;
  margin-left: 40px;
  margin-top: -20px;
  text-transform: lowercase;
}

.chat-text {
  width: 250px;
  word-wrap: break-word;
  margin-left: 60px;
  text-transform: lowercase;
}
