.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1210px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
